body {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 50px;
}

.logo {
    color: #FFA500;
    
}

.nav {
    background-color: #ddd;
    margin: 20px;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}

nav ul li {
    position: relative;
    margin-right: 50px;
    padding-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul .submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li:hover .submenu {
    display: block;
}

nav ul .submenu li {
    background-color: #f9f9f9;
    margin: 0;
}

nav ul .submenu li a {
    display: block;
    padding: 8px 12px;
    color: #333;
    text-decoration: none;
}

nav ul .submenu li a:hover {
    background-color: #ddd;
}

body {
    /*background-image: url("background-img.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: "europa", sans-serif;
    text-align: center;
    color: black;
}

#first {
    display: flexbox;
    justify-content: center;
}

.block {
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-image: url(background-img.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: "europa", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #E0FFFF;
    height: 400px;
    padding: 0 20px
}

a {
    color: #746c5f;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #13283f;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

blockquote {
    font-style: italic;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #e9ecef;
    border-left: 5px solid #0056b3;
}

/*.calendar-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.booking-container {
    background-image: url("../Images/coach-background.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
    gap: 20px;
}

.text-container {
    flex: 1;
    text-align: right;
    padding-right: 20px;
    margin-left: 500px;
    text-align: center;
}

.booking-api {
    flex: 1;
    max-width: 900px;
}
