* {
  box-sizing: border-box;
}

body {
  position: sticky;
  margin-top: 150px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  top: 0;
  position: fixed;
  left: 0;
  width: 100%;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  max-width: 100%;
  z-index: 1001;
}

.navbar a {
  float: left;
  display: block;
}

.logo {
  color: #FFA500;
  margin-bottom: auto;
  margin-right: 20px;
  position: relative;
  left: 10px;
  top: 10px;
  z-index: 999;
  padding: 10px;
}

.logo img {
  max-width: 150px;
  border-radius: 50px;
}

.nav {
  margin: 20px;
  padding: 5px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
}

nav ul li {
  flex: 1;
  text-align: center;
  margin-right: 0px;
  padding-right: 20px;
}

nav ul li a {
  white-space: nowrap;
  color: #746c5f;
  padding: 10px 10px;
  transition: color 0.3s, background-color 0.3s;
}

nav ul li a:hover {
  background-color: #4d4a47;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.has-submenu {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
  z-index: 10001;
}

.arrow, .back-btn {
  cursor: pointer;
  font-weight: bold;
  color: #333;
}

.arrow {
  margin-left: 10px;
}

.back-btn {
  display: block;
  margin-bottom: 10px;
  color: blue;
  text-decoration: none;
}

.submenu li {  
  padding: 2px 7px;
  color: white;
  white-space: nowrap;
}

.submenu li a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.has-submenu:hover,
.has-submenu:focus,
.has-submenu.active {
  background-color: #555;
  color: #fff;
}

.has-submenu:hover .submenu ,
.submenu:hover {
  background-color: #333;
}

.submenu li a:hover {
  background-color: #555;
  color: #fff;
}

.has-submenu:hover .submenu {
    display: block;
}

.toggle-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    background-color: white;
  }

  .navbar #nav-items {
    position: fixed;
    top: 120px;
    right: 0;
    height: 87%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 1000;
    padding-bottom: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
  }

  .navbar.active #nav-items {
    transform: translateX(0);
  }

  nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: #464040 3px solid;
  }

  nav ul li {
    width: 100%;
    padding: 0;
  }

  .submenu {
    left: 50%;
    transform: translate(-50%);
    width: auto;
    min-width: 50%;
  }

  .toggle-btn {
    position: fixed;
    right: 20px;
    top: 50px;
    display: block;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    text-align: right;
    font-size: 2em;
    margin: 0;
    align-self: flex-end;
    z-index: 999;
    width: 30px;
    height: 24px;
    transition: background-color 0.3s ease;
  }

  .toggle-btn::before, 
  .toggle-btn::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #333;
    left: 0;
    transition: transform 0.3s ease, top 0.3s ease, opacity 0.3s ease;
  }

  .toggle-btn::before {
    top: 0px;
  }

  .toggle-btn::after {
    top: 20px;
  }

  .toggle-btn .middle-line {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #333;
    top: 10px;
    left: 0;
    transition: opacity 0.3s ease;
  }

  .toggle-btn.active::before, .toggle-btn.active::after {
    background-color: #333;
  }

  .toggle-btn.active::before {
    transform: rotate(45deg);
    top: 10px;
  }

  .toggle-btn.active::after {
    transform: rotate(-45deg);
    top: 10px;
  }

  .toggle-btn.active .middle-line {
    opacity: 0;
  }

  .toggle-btn.active {
    background-color: #8bbdb2;
    color: white;
    transform: rotate(0deg);
    padding: 12px;
  }

  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 998;
  }

  .menu-overlay.visible {
    display: block;
  }

  .logo {
    margin-left: 10px;
  }
}

a {
  color: #746c5f;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  margin-left: 40px;
}

.linkedin {
  height: 21px;
}

@media screen and (max-width: 480px) {
  .navbar.active #nav-items {
    padding: 5px;
  }
}

#footer-container {
  background-color: #f9f9f9;
  padding: 20px;
}

#foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#foot-left {
  flex: 1;
  text-align: left;
}

#foot-center {
  flex: 1;
  text-align: center;
}

#foot-right {
  flex: 1;
  text-align: right;
}

