.contact-container {
    background-color: #f7ebe6;
    max-width: 400px;
    width: 100%;
    padding: 30px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

.contact-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.contact-container input[type="text"],
.contact-container input[type="email"],
.contact-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

input::placeholder,
textarea::placeholder{
    font-family: inherit;
    font-size: 14px;
    color: #999;
    opacity: 1;
}

textarea {
    font-family: inherit;
    font-size: 14px;
}

.contact-container textarea {
    resize: vertical;
    height: 100px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #121312;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45A049;
}