body {
    font-family: "europa", sans-serif;
    text-align: center;
    align-items: center;
    color: black;

}

.block {
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-family: "europa", sans-serif;
    text-align: center;
    color: #E0FFFF;
    height: 400px;
    padding: 0 20px;
    border: #8d8686 2px solid;
}

a {
    color: #746c5f;
    text-decoration: none;
}

#page-txt {
    font-family: 'Roboto', sans-serif;
    color: #0b1414;
    margin: 20px;
    text-align: center;
    align-items: center;
}
